@import "tailwindcss";

@theme {
    /* Your custom colors translated to v4 variables */
    --color-background: #0a1128;
    --color-surface: #121e3d;
    --color-accent: #d4af37;
    --color-textMain: #f8f9fa;
    --color-textMuted: #9ca3af;
}

html {
    scroll-behavior: smooth;
}

body {
    /* Applying your background and text globally */
    background-color: var(--color-background);
    color: var(--color-textMain);
    overflow-x: hidden;
}

